body {
  margin: 0;
  padding: 200px 0 0 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;

  margin: 0;
  position: relative;
  background-color: lightcoral;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav.main-nav, main {
  position: relative;
}

nav.main-nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 40px;
  margin-bottom: -60px;
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  background-color: red;
  transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

nav.main-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-bottom: -40px;
  background-color: green;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

nav.main-nav a {
  position: relative;
  margin: 20px 20px 0 ;
  padding: 6px 15px;
  border-radius: 5px 20px 5px;
  text-decoration: none;
  color: #ce9212;
  font-weight: 400;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, .25);
}

nav.main-nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #ce9212;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, .75);
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.main-nav a:hover {
  border-radius: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, .55);
  transition: all .2s linear;
}

nav.main-nav a:hover:after {
  width: 100%;
}

main {
  padding: 150px 50px 50px;
  text-align: left;
  column-count: 2;
  column-gap: 40px;
  background-color: darkgoldenrod;
}

iframe {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

footer {
  color: rgb(240, 240, 240);
  background-color: royalblue;
  padding: 3px 50px;
  font-style: italic;
}

p.top {
  margin: 0;
  text-align: right;
  color: darkred;
  cursor: pointer;
}